[submodule "libarbxx/test/external/cereal"]
	path = libarbxx/test/external/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "libarbxx/src/external/gmpxxll"]
	path = libarbxx/src/external/gmpxxll
	url = https://github.com/flatsurf/gmpxxll.git
[submodule "libarbxx/test/external/catch2"]
	path = libarbxx/test/external/catch2
	url = https://github.com/catchorg/Catch2.git
